@charset "UTF-8";

/* ENTRIES */

.entry {
    width: 720px;
    display: block;
    padding-top: 55px;
    clear: both;
    margin-left: 4px;
}

h1 {
    width: 250px;
    font-size: 42px;
    color: #803a3a;
    margin-bottom: 3px;
    clear: both;
}

h1 span {
    font-size: 21px;
    display: block;
    color: #803a3a;
    margin-top: -5px;
}

h2 {
    width: 180px;
    height: 23px;
    text-align: right;
    float: left;
    padding: 0;
    margin: 0;
    clear: both;
    font-size: 22px;
    color: #803a3a;
    margin-bottom: -12px;
}

p {
    width: 500px;
    margin-left: 40px;
    float: right;
}

p img {
    float: right;
    margin-left: 20px;
    padding-left: 10px;
}

div.content {
    clear: both;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    padding-top: 32px;
}

h3 {
    width: 180px;
    text-align: right;
    float: left;
    padding: 0;
    clear: both;
    font-size: 13px;
    color: #ab7979;
}

h4 {
    width: 180px;
    text-align: right;
    float: left;
    padding: 0;
    clear: both;
    font-size: 11px;
    color: #ab7979;
}

h5 {
    width: 180px;
    text-align: right;
    float: left;
    padding: 0;
    clear: both;
    font-size: 10px;
    color: #ab7979;
}

h6 {
    width: 180px;
    text-align: right;
    float: left;
    padding: 0;
    clear: both;
    font-size: 9px;
    color: #ab7979;
}

em {
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    color: #777777;
    font-size: 12px;
    display: block;
    padding-top: 3px;
}

ol {
    float: right;
    width: 500px;
    margin-left: 40px;
    list-style: decimal;
}

ol li {
    width: 500px;
    list-style-type: decimal;
    list-style-position: inside;
}

dl {
    float: right;
    width: 500px;
    margin-left: 40px;
}

dt {
    float: left;
    display: block;
    width: 500px;
    color: #ab7979;
}

dd {
    float: left;
    display: block;
    width: 480px;
    text-indent: 20px;
}

ul.info {
    float: right;
    width: 500px;
    margin-left: 40px;
    list-style-type: none;
}

ul.info li {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    width: 500px;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    padding-left: 10px;
    background-position: 0 .5em;
    margin-top: 12px;
}

ul.skills {
    margin: 0;
    padding: 0;
    float: right;
    width: 500px;
    margin-left: 40px;
    margin-top: -6px;
    list-style-type: none;
}

ul.skills li {
    margin: 0;
    padding: 0;
    float: left;
    width: 156px;
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    padding-left: 10px;
    background-position: 0 .5em;
    margin-top: 6px;
}

img.portrait {
    background-image: url(../images/frame.jpg);
    background-repeat: no-repeat;
    width: 109px;
    height: 109px;
    padding-top: 20px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 36px;
    margin-left: 50px;
    float: left;
}


/* SOCIAL ICONS */

.social {
    width: 135px;
    float: right;
    padding-top: 10px;
}

.social ul {
    list-style: none;
}

.social ul li {
    float: left;
    width: 21px;
    height: 24px;
    margin: 0;
    padding: 0;
    margin-left: 6px;
}


/* sobre mi */

.self {
    width: 250px;
    float: left;
    padding-top: 11px;
    margin-left: 38px;
    margin-bottom: 15px;
}

.self ul {
    padding-top: 10px;
}

.self ul li.ad {
    background-image: url(../images/icn-ad.gif);
}

.self ul li.mail {
    background-image: url(../images/icn-mail.gif);
}

.self ul li.tel {
    background-image: url(../images/icn-tel.gif);
}

.self ul li {
    background-repeat: no-repeat;
    padding-left: 26px;
    background-position: 0 .1em;
    height: 25px;
    display: block;
    margin-top: -2px;
}